# Ignore swap and zip files
*.swp
*.zip

# Ignore vagrant cache directory
.vagrant/

# ignore metax-api because it is another git-repo
metax-api/

# ansible retry-file
ansible/*.retry

ubuntu*.log
local_settings.py
ansible/inventories/playground/group_vars/*
!ansible/inventories/playground/group_vars/all
ansible/inventories/playground/host_vars
ansible/inventories/test/group_vars/*
!ansible/inventories/test/group_vars/all
ansible/inventories/test/host_vars
ansible/inventories/stable/group_vars/*
!ansible/inventories/stable/group_vars/all
ansible/inventories/stable/host_vars
ansible/inventories/staging
ansible/inventories/production

ansible/files/
*.pem
ansible/roles/ansible-elasticsearch/
*.tar.gz
__pycache__
.idea

# Mac stuff
.DS_Store
