# Ignore swap files
*.swp

# Ignore vagrant cache directory
.vagrant/

# ignore metax-api because it is another git-repo
metax-api/

# ansible retry-file
ansible/site.retry

ubuntu*.log
local_settings.py
ansible/vars/environments/*_sec.yml

# Mac stuff
.DS_Store
