# Ignore swap and zip files
*.swp
*.zip

# Ignore vagrant cache directory
.vagrant/

# ignore metax-api because it is another git-repo
metax-api/

# ansible retry-file
ansible/*.retry

# local ansible files
ansible/ansible

ubuntu*.log
local_settings.py
ansible/inventories/test/group_vars/*
!ansible/inventories/test/group_vars/all
ansible/inventories/test/host_vars
ansible/inventories/stable/group_vars/*
!ansible/inventories/stable/group_vars/all
ansible/inventories/stable/host_vars
ansible/inventories/demo
ansible/inventories/staging
ansible/inventories/production


ansible/group_vars/*
!ansible/group_vars/all
ansible/files/
ansible/roles/ansible-elasticsearch/

*.pem
*.tar.gz
__pycache__
.idea

# Mac stuff
.DS_Store

Vagrantfile
